body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.banner {
    background-color: #333; /* Background color for the banner */
    text-align: center; /* Center align the text */
    padding: 20px; /* Add some padding for spacing */
    margin: 0; /* Remove margin */
}

.banner h1 {
    margin: 0; /* Remove default margin for the h1 element */
    color: #00FF00; /* Text color */
}

.forms {
    text-align: center;
    font-size: 20px; /* Increase the font size */
}

.avgMoveData {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.ticker {
    text-align: center;
    margin-top: 20px;
}




table {
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse; /* Collapse table borders */
    width: 80%; /* Set the width of the table */
}

th, td {
    padding: 8px; /* Add padding to table cells */
    text-align: center; /* Center-align the content of table cells */
}

/* Style even rows with background color */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
